/*navigation in header*/
.logo-link{
	text-decoration: none;
	font-weight: bold;
	&__fork-name{
		margin-left: .5em;
		text-transform: uppercase;
	}
	&__fork-color{
		color: $black;
	}
}

.nav-list{
	display: flex;
	list-style-type: none;
	align-items: center;
	padding: .5em;
	&_padding_s{
		padding: 1em;
	}
	&__links{
		display: block;
		color: $links-color;
		text-decoration: none;
		font-weight: bold;
		margin-right: 1.5em;
	}
	&__button{
		width: 60%;
		border-radius: 1.5em;
		padding: .5em 0 .5em 0;
		border:0;
		background-color: $violet-color;
		color:$white;
		font-weight: bold;
	}
	&__button:hover{
		background-color: $white;
		color: $links-color;
	}
	&__side-burger{
		display: none;
	}
}

@media(max-width: 520px){
	.nav-list__links{
		display: none;
	}
}

@media(max-width: 520px){
	.nav-list__side-burger{
		display: block;
	}
}

.flex-item{
	flex:3;
}

/*main heading*/
.main-heading{
	background: url(/img/background_header.png) no-repeat center center;
	background-size: cover;
	&_padding_l{
		padding: 4em 0 25em 0; 
	}
	&__fork-app{
		font-size: 5em;
		font-weight: bold;
		color: $white;
		margin-bottom: 0;
		text-align: center;
	}
	&__description{
		font-size: 2em;
		line-height: 2;
		color:$violet-color;
		margin: 0;
		text-align: center;
	}
	&__fork-version{
		color: #848e97;
		margin-top: 0;
		font-weight: lighter;
		text-align: center;
	}
}

@media(max-width: 520px){
	.main-heading{
		background: url(/img/background_header_mobile.png) no-repeat center center;
		background-size: cover;
	}
}

@media(max-width: 520px){
	.main-heading__fork-app{
		font-size: 4rem;
		padding: .2em;
	}
}

@media(max-width: 520px){
	.main-heading__description{
		font-size: 1.5em;
		padding: .5em;
	}
}

.central-button{
	position: relative;
	top: 1em;
	text-align: center;
	&__download_button{
		border:0;
		padding: .5em 2em;
		border-radius: 1em;
		color: $white;
		font-weight: bold;
		background-color: $violet-color;
		&:hover{
			color:$black;
			background-color: $white;
		}
	}
}


.trial-period{
	margin: 1.5em;
	color:#848e97;
	text-align: center;
}

.heading-about{
	font-size: 4em;
	color:$violet-color;
	font-weight: bold;
	padding: .5em;
	text-transform: uppercase;
	text-align: center;
}

@media(max-width: 520px){
	.heading-about{
		font-size: 3em;
	}
}

.text-about{
	line-height: 2;
	padding: 1em;
	text-align: center;
}


.icons{
	text-align: center;
	margin:1em;
}