/*common*/
:root {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

*,
::after,
::before {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/*header*/
/*navigation in header*/
.logo-link {
  text-decoration: none;
  font-weight: bold;
}

.logo-link__fork-name {
  margin-left: .5em;
  text-transform: uppercase;
}

.logo-link__fork-color {
  color: #000;
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: .5em;
}

.nav-list_padding_s {
  padding: 1em;
}

.nav-list__links {
  display: block;
  color: #635c73;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1.5em;
}

.nav-list__button {
  width: 60%;
  border-radius: 1.5em;
  padding: .5em 0 .5em 0;
  border: 0;
  background-color: #8d81ac;
  color: #fff;
  font-weight: bold;
}

.nav-list__button:hover {
  background-color: #fff;
  color: #635c73;
}

.nav-list__side-burger {
  display: none;
}

@media (max-width: 520px) {
  .nav-list__links {
    display: none;
  }
}

@media (max-width: 520px) {
  .nav-list__side-burger {
    display: block;
  }
}

.flex-item {
  flex: 3;
}

/*main heading*/
.main-heading {
  background: url(/img/background_header.png) no-repeat center center;
  background-size: cover;
}

.main-heading_padding_l {
  padding: 4em 0 25em 0;
}

.main-heading__fork-app {
  font-size: 5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.main-heading__description {
  font-size: 2em;
  line-height: 2;
  color: #8d81ac;
  margin: 0;
  text-align: center;
}

.main-heading__fork-version {
  color: #848e97;
  margin-top: 0;
  font-weight: lighter;
  text-align: center;
}

@media (max-width: 520px) {
  .main-heading {
    background: url(/img/background_header_mobile.png) no-repeat center center;
    background-size: cover;
  }
}

@media (max-width: 520px) {
  .main-heading__fork-app {
    font-size: 4rem;
    padding: .2em;
  }
}

@media (max-width: 520px) {
  .main-heading__description {
    font-size: 1.5em;
    padding: .5em;
  }
}

.central-button {
  position: relative;
  top: 1em;
  text-align: center;
}

.central-button__download_button {
  border: 0;
  padding: .5em 2em;
  border-radius: 1em;
  color: #fff;
  font-weight: bold;
  background-color: #8d81ac;
}

.central-button__download_button:hover {
  color: #000;
  background-color: #fff;
}

.trial-period {
  margin: 1.5em;
  color: #848e97;
  text-align: center;
}

.heading-about {
  font-size: 4em;
  color: #8d81ac;
  font-weight: bold;
  padding: .5em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 520px) {
  .heading-about {
    font-size: 3em;
  }
}

.text-about {
  line-height: 2;
  padding: 1em;
  text-align: center;
}

.icons {
  text-align: center;
  margin: 1em;
}

/*main*/
.features_background {
  background-color: #f4f4f4;
}

.flex {
  display: flex;
  padding: 2em;
}

.features {
  margin: 1.5em;
}

.article-features {
  width: 100%;
}

.article-features__heading {
  line-height: 2;
  font-weight: bold;
  padding: 1em;
}

.article-features__text {
  font-size: .9em;
  line-height: 1.5;
  overflow: auto;
}

.img-style {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 120px;
  height: 100px;
  float: left;
}

.clear {
  clear: both;
}

.make-web-better {
  background-image: url(/img/icon_better.png);
}

.power-tool {
  background-image: url(/img/icon_powerfull.png);
}

.experimental-stuff {
  background-image: url(/img/icon_stuff.png);
}

.created {
  background-image: url(/img/icon_created.png);
}

.code-example {
  position: relative;
}

@media (max-width: 520px) {
  .code-example {
    display: none;
  }
}

.code-heading {
  font-size: 2.7em;
  font-weight: bold;
  color: #8d81ac;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.code {
  position: absolute;
  left: 6em;
}

/*author block*/
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.photo__plays {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #8d81ac;
}

.side {
  margin-left: 1em;
}

.side__author-name {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2;
}

.side__author-nick {
  color: #8d81ac;
}

.social {
  text-align: center;
}

.social__link {
  display: inline-block;
  margin: 2em;
  width: 25%;
  padding: 1em 5em;
  text-decoration: none;
}

.social_git {
  background-color: #f4f4f4;
  color: #000;
}

.social_twit {
  background-color: #26a6d1;
  color: #fff;
}

.social_face {
  background-color: #3b5998;
  color: #fff;
}

@media (max-width: 520px) {
  .social__link {
    display: block;
    margin: 2em auto;
  }
}

/*feedback and price blocks*/
.feedback {
  background-color: #4b3b4e;
  border-bottom: 1px solid #645766;
}

.heading-feedback {
  padding: 1em;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 520px) {
  .heading-feedback {
    font-size: 2em;
  }
}

.flex-feedback {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
}

.flex-feedback__article {
  flex: 30%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 3em;
  line-height: 1.5;
}

@media (max-width: 520px) {
  .flex-feedback {
    flex-direction: column;
  }
  .flex-feedback__article {
    padding: 0 5em 0 5em;
  }
}

.logo_feed {
  margin-bottom: 2em;
}

/*price block*/
.price {
  background-color: #4b3b4e;
}

.flex-price {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.cost-block {
  background-color: #5f5161;
  text-align: center;
  margin: 0 1em 1em 1em;
}

.cost-block:hover {
  background-color: #413344;
}

.cost-block__tarif {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 1em;
  background-color: #685b6a;
}

.cost-block__money {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  padding: 1em;
}

.cost-block__period {
  text-transform: uppercase;
  color: #8f8691;
  font-size: .8em;
}

.cost-block__get {
  color: #fff;
  font-weight: bold;
}

.cost-block__accept-button {
  display: inline-block;
  background-color: #685b6a;
  color: #fff;
  margin: 2em 0 1em 0;
  padding: .5em 2em;
  border: 0;
  border-radius: 1em;
  text-transform: uppercase;
}

@media (max-width: 520px) {
  .flex-price {
    flex-direction: column;
  }
  .cost-block {
    margin: 0 5em 2em 5em;
  }
}

.line {
  border: 2px solid #685b6a;
  width: 20%;
  margin: 1em auto;
}

.price-description {
  color: #685b6a;
  font-size: .5em;
  text-align: center;
  padding: 2em;
}

/*Subscribe input*/
.subscribe {
  background-color: #f4f4f4;
  padding: 1em;
}

.subscribe__input {
  width: 30%;
  padding: .5em 0 .5em .5em;
  border-radius: 2em;
  border: 0;
}

.subscribe__button {
  color: #fff;
  border: 0;
  border-radius: 1em;
  padding: .5em 1em;
  background-color: #4b3b4e;
}

.subscribe-heading {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  color: #4b3b4e;
  margin-right: 3em;
}

@media (max-width: 520px) {
  .subscribe-heading {
    display: block;
    text-align: center;
    margin-right: 0;
    margin-bottom: 1em;
  }
}

@media (max-width: 520px) {
  .subscribe__input {
    width: 75%;
  }
}

/*footer*/
.flex-footer {
  display: flex;
  border-bottom: 2px solid #fff;
}

.flex-footer__item {
  flex: 30%;
  margin: 1em;
}

.flex-footer__item2 {
  flex: 25%;
}

.flex-footer__heading {
  font-size: 2em;
  padding: 1em;
  padding-left: 0;
  color: #d3d1da;
  font-weight: bold;
}

@media (max-width: 520px) {
  .flex-footer {
    flex-direction: column;
    margin: 1em;
  }
}

.go-button {
  border: 0;
  padding: .5em 1.5em;
  background-color: #f4f4f4;
  color: #4b3b4e;
  margin: 1em;
  margin-left: 0;
}

.go-button:hover {
  background-color: #848e97;
}

.lower-heading {
  font-weight: bold;
  padding: 1em;
  padding-left: 0;
}

.lower-heading_color_violet {
  color: #4b3b4e;
}

.text {
  font-size: .8em;
  line-height: 2;
  color: #848e97;
}

.lower-footer-heading {
  font-weight: bold;
  padding: 1em;
  padding-left: 0;
}

.list-footer {
  line-height: 1.5;
  font-weight: bold;
  text-decoration: none;
}

.author-number {
  font-weight: bold;
  font-size: 2em;
  line-height: 2;
}

.availible {
  font-weight: bold;
  font-size: .8em;
  color: #848e97;
}
