$links-color:#635c73;
$white: #fff;
$black: #000;
$violet-color:#8d81ac;
$light-grey:#f4f4f4;
$twit-color:#26a6d1;
$face-color:#3b5998;
$dark-violet:#4b3b4e;
$feedback-bottom-color:#645766;
$light-violet:#5f5161;
$dark-violet-hover:#413344;
$half-opacity-grey:#685b6a;
$grey-text:#8f8691;
$light-grey-heading:#d3d1da;
$dast-grey:#848e97;