.flex_footer{
	display: flex;
	justify-content: center;
	border-bottom: 2px solid #fff;
}

@media(max-width: 520px){
	.flex_footer{
		flex-direction: column;
		margin: 1em; 
	}
}

.new_in,
.popular,
.blog{
	flex:30%;
	margin:1em;
}

.footer_heading_new,
.footer_heading_popular,
.footer_heading_blog{
	font-size: 2em;
	padding: 1em;
	padding-left: 0;
	color: #d3d1da;
	font-weight: bold;
}

.go_button{
	border:0;
	padding: .5em 1.5em;
	background-color: #f4f4f4;
	color:#4b3b4e;
	margin:1em;
	margin-left: 0; 
}

.lower_heading_new{
	font-weight: bold;
	padding: 1em;
	padding-left: 0;
}

.text{
	font-size: .8em;
	line-height: 2;
	color: #848e97;
}

.lower_heading_popular,
.lower_heading_blog{
	font-weight: bold;
	padding: 1em;
	padding-left: 0;
	color:#4b3b4e;
}

.lower_footer_heading{
	font-weight: bold;
	padding: 1em;
	padding-left: 0;
}

.list_footer{
	line-height: 2;
	font-weight: bold;
	text-decoration: none;
}

.author_number{
	font-weight: bold;
	font-size: 2em;
	line-height: 2;
}

.availible{
	font-weight:bold;
	font-size: .8em;
	color: #848e97;
}

.logo_footer,
.nav_footer,
.personal_inf,
.additional_inf{
	flex:25%;
}